{% extends 'base.html' %}
{% block body %}
<form method="POST" action="" class="border p-5 mt-2">
        {{form_relatorioUsuarios.csrf_token}}
        <div class="form-group">
            {{form_relatorioUsuarios.usuario.label(class="form-control-label")}}
            {%if form_relatorioUsuarios.usuario.errors %}
                {{form_relatorioUsuarios.usuario (class="form-control is-invalid")}}
            <div class="invalide-feedback">
                {% for erro in form_relatorioUsuarios.usuario.errors %}
                    {{erro}}
                {% endfor %}
            </div>
            {%else%}
                {{form_relatorioUsuarios.usuario (class="form-control")}}
            {%endif%}
        </div>
        {{form_relatorioUsuarios.botao_gerarRelatorio (class="btn btn-primary mt-3")}}
    </form>
{% endblock %}